*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #000;
  color: #f8f8f8;
  text-align: center;
}
