.logo_container {
  padding: 1.6rem 1.438rem;
}

.logo_text {
  color: #f8f8f8;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 1.538rem;
}

.logo_black_text {
  background-color: #f8f8f8;
  padding: 3.59px;
  color: #0f0f0f;
}

@media screen and (max-width: 768px) {
  .logo_container {
    padding: 1.5rem 0.75rem;
  }

  .logo_text {
    font-size: 1.2rem;
  }
}
